.wppLink {
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
  padding: 20px 40px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.21);
  background-color: var(--button-color);
  color: var(--text-color-light);
  transition: transform 0.3s ease-in-out;
  display: inline-block;
}

.wppLink:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px 5px var(--primary-color);
  background-color: var(--button-hover-color);
  color: var(--primary-color);
}