.loaderContainer {
    transition: opacity 0.8s ease;
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loaderImage {
    max-height: 80px;
}

@media(min-width: 576px) {
    .loaderImage {
        max-height: 100px;
    }
}