.educationSection ul {
    list-style: none;
}

.educationSection ul li:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-right: 10px;
}