a{
    text-decoration: none;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    background-color: var(--menu-bg-color);
    color: var(--text-color);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.21);
}

.navbar {
    position: fixed;
	top: 0;
	width: 100%;
    z-index: 2;
}

.titulo {
    padding: 10px;
}

.titulo img {
    max-height: 50px;
}

.menuHamburguer {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 10px;
}

.traco {
    width: 100%;
    height: 3px;
    border-radius: 10px;
    margin: 3.75px 0;
    transition: 0.5s;
    background-color: var(--text-color);
}

.traco1, .traco3 {
    transform-origin: center right;
}

.menuHamburguer.ativo .traco1 {
    transform: rotateZ(-45deg);
}

.menuHamburguer.ativo .traco2 {
    opacity: 0;
}

.menuHamburguer.ativo .traco3 {
    transform: rotateZ(45deg);
}

.filtros {
    display: none;
    justify-content: space-around;
    align-items: center;
}

.filtros.mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    transform: translateY(-101%);
    transition: 0.5s;
    background-color: var(--menu-bg-color-2);
}

.filtros.mobile.ativo {
    transform: translateY(0);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.21);
}

.filtros a {
    cursor: pointer;
    padding: 10px 0;
    text-align: center;
    width: 100vw;
}

@media(min-width: 576px) {
    header {
      justify-content: space-between;
      padding: 0 0 0 20px;
    }
  
    .menuHamburguer {
      display: none;
    }
  
    .filtros {
      display: flex;
    }

    .filtros a{
        padding: 25px 30px;
        width: auto;
    }

    .filtros a:hover{
        background-color: var(--primary-color);
        transition: 0.3s;
        color: var(--text-color-light);
    }
  
    .filtros.mobile {
      display: none;
    }
}
