.questionContainer {
  margin: 10px 0 30px;
}

.sectionContent {
  padding: 15px;
  border-radius: 20px;
  background-color: var(--hero-bg-color);
  width: 110%;
  position: relative;
  right: 5%;
}

.question {
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  border: none;
  font-size: 14pt;
  font-weight: bolder;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  transition: 0.7s;
  width: 100%;
}

.question i {
  transition: transform 0.4s ease;
}

.answer {
  display: block;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  padding: 0;
}

.answer p {
  margin: 5px 0;
}

@media (min-width: 576px) {
  .sectionContent {
    padding: 15px;
    margin: 0 200px;
    width: auto;
    position: initial;
  }
}
