.sectionContent {
  border-radius: 10px;
  overflow: hidden; /* Impede que filhos ultrapassem os cantos arredondados */
  background-color: var(--hero-bg-color);
  width: 110%;
  position: relative;
  right: 5%;
  border: 1px solid #d5d8dc; /* Mantém a borda geral da caixa */
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionContainer {
  border-bottom: 1px solid #d5d8dc;
  transition: border-color 0.3s ease;
}

.questionContainer:last-child {
  border-bottom: none; /* Remove a linha final */
}

.question {
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  border: none;
  font-size: 14pt;
  font-weight: bolder;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 20px 10px;
}

.questionActive {
  color: var(--primary-color);
}

.answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0 20px;
  transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
}

.answerOpen {
  opacity: 1;
  padding: 0 20px 15px;
  max-height: 1000px;
}

.answer p {
  margin: 5px 0;
}

@media (min-width: 1000px) {
  .sectionContent {
    margin: 0 10%;
    width: auto;
    position: initial;
  }

  .sectionTitle h1 {
    width: 33%;
  }
}
