.card {
  background: linear-gradient(135deg, #e0f7fa 0%, #ffffff 40%);
  border-radius: 12px;
  box-shadow: 5px 5px 10px 0px var(--image-border-color);
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card.hover:hover {
  transform: scale(1.05);
}

.icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.title {
  font-size: 1.2rem;
  margin: 0 0 0.4rem;
  color: var(--primary-color);
  text-align: center;
  font-weight: bold;
}

.description {
  font-size: 0.95rem;
}

@media (min-width: 800px) {
}
