.aboutMeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.sectionTitle {
  width: 100%;
}

.profileImageContainer {
  display: flex;
  justify-content: center;
}

.profileImageContainer img {
  height: 350px;
  border: 1px solid var(--primary-color);
  box-shadow: 5px 5px 10px 0px var(--image-border-color);
  border-radius: 10px;
}

.aboutMeText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media (min-width: 800px) {
  .aboutMeSection {
    padding-top: 30px;
  }

  .aboutMeContent {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
  }

  .aboutMeText {
    display: flex;
    flex-direction: column;
  }

  .profileImageContainer {
    display: flex;
    justify-content: center;
  }

  .profileImageContainer img {
    width: auto;
    height: auto;
  }
}
