.symptomSection {
    padding-bottom: 100px;
    background-color: var(--background-color);
}

.star {
    filter: invert(0.8);
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    max-width: 300px;
}

@media (min-width: 800px) {
    
}
