.symptomSection {
    background-color: var(--highlight-section);
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    max-width: 300px;
}

@media (min-width: 800px) {
    
}
