:root {
  --background-color: #f4f6f8;
  --button-color: #8772cf;
  --button-hover-color: #f4f6f8;
  --footer-bg-color: #8772cf;
  --image-border-color: #8772cf;
  --hero-bg-color: #dee8fe;
  --highlight-section: #dee8fe ;
  --menu-bg-color: #f4f6f8;
  --mobile-menu-bg-color: #f4f6f8;
  --primary-color: #8772cf;
  --text-color: #515254;
  --text-color-light: #f4f6f8;
  --title-color: #38748c;
}
